.social-media {
    display: flex;
    justify-content: center;
}

.social-media a {
    display: flex;
    background: #e3edf7;
    height: 50px;
    width: 60px;
    margin: 0 15px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.5), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(0, 0, 0, 0);
    transition: transform 0.5s;
}

.social-media a i {
    font-size: 35px;
    color: #777;
    transition: transform 0.5s;
}

.social-media a:hover {
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2), inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7), -0.5px -0.5px 0px rgba(255, 255, 255, 1), 0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transform: translateY(2px);
}

.social-media a:hover i {
    transform: scale(0.90);
}

.social-media a:hover .fa-facebook {
    color: #3b5998;
}

.social-media a:hover .fa-twitter {
    color: #00acee;
}

.social-media a:hover .fa-linkedin-in {
    color: blue;
}

.social-media a:hover .fa-instagram {
    color: #f14843;
}


.navbar{
    background-color: #00ccd6;
    background-image: linear-gradient(90deg, transparent 100%, rgba(255,255,255,.5) 50%);
}


.footer_wrapper{
    background-color: #00ccd6;
    background-image: linear-gradient(90deg, transparent 33%, rgba(255,255,255,.5) 50%);

    height: 310px;
    width: 100%;
}

@media(min-width:992px) {}

@media(min-width:768px) and (max-width:991px) {
    .footer_wrapper{
        height: 295px;
    }
}

@media(min-width:575px) and (max-width:767px) {
    .footer_wrapper{
        height: 600px;
    }
    .r3{
        padding-right: 322px;
    }
    .r2{
        padding-right: 273px;
    }

}

@media(max-width:574px) {
    .footer_wrapper{
        height: 615px;
    }
    .r3{
        padding-right: 312px;
    }
    .r2{
        padding-right: 273px;
    }
}

@media(max-width:479px) {
    .footer_wrapper{
        height: 700px;
    }
    .r3{
        padding-right: 215px;
    }
    .r2{
        padding-right: 185px;
    }
}

@media(max-width:320px) {
    .footer_wrapper{
        height: 700px;
    }
    .footer_wrapper h3{
        font-size: 18px;
    }
    .r2{
        padding-right: 185px;
    }

}




